.social{
    width: 400px;
    height: 500px;
    background: #999;
    color: #fff;
    box-sizing: border-box;
    padding: 30px 40px;
    border-radius: 10px;
    animation: border2 1s ease-in-out forwards;
}

@keyframes border2{
    0%{
        border-radius: 0;

    }
    100%{
        /*border-top-right-radius: 20%;
        border-bottom-right-radius: 20%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;*/
        border-radius: 0 20% 20% 0;
    }
}

.social .title{
    margin: 0;
    font-weight: bold;
    text-align: center;
    padding: 15px 0 25px 0;
}

.icons{
    margin-top: 15px;
}

.social button{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-style: none;
    font-size: 16px;
    border-radius: 25px;
    position: relative;
    color: white;
}

.social button:hover {
    width: 105%;
    height: 105%;
}

.social button i{
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 20px;
}


.social .mail{
    background: #db4a39;
}

.social .mail:hover{
    background-color: rgba(219, 74, 57, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

.social .fb{
    background: #3b5998;
}

.social .fb:hover{
    background-color: rgba(59, 89, 152, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

.social .tw{
    background-color: #00acee;
}

.social .tw:hover{
    background-color: rgba(0, 172, 238, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

.social .ig{
    background-image: linear-gradient(to bottom right,#515BD4,#8134AF,#DD2A7B,#FEDA77,#F58529);
}

.social .ig:hover{
    background-image: linear-gradient(to bottom right,rgba(81,91,212,0.8),rgba(129,52,175,0.8),rgba(221,42,123,0.8),rgba(253,218,119,0.8),rgba(245,133,41,0.8));
    cursor: pointer;
    text-decoration: underline;
}



